// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700,400italic);

// Modals
@import "partials/modal";

// Body
$font-stack: 'Open Sans', sans-serif;
$main-background: rgb(38,169,224);

// Navigation
$hover-background: rgb(38,169,224);
$hover-text: #555;

body {
  background: $main-background;
  padding-top: 70px;
}

.navbar-default .navbar-nav>li>a:hover {
  color: rgb(38,169,224);
  background-color: white;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.footer {
  position :absolute;
  bottom: 0;
}


p.copyright>span {
  color: #777;
}

// Login form
.form{
  margin-top: 30%;
  margin-left: 20%;

}

.form_text {
  color : white;
}
